.header{
    background-image: url(kepek/egesz.jpg);
    height: 100%;
    color: white;
    padding: 200px;
    align-items: center;
    background-position: 60%;
}
body{
    margin: auto;
    outline: auto;
    background-color: #222222;
}
.navbarjobb{
    float: right;
    color: white;
}
li {
    float: right;
  }
  
  a {
    display: flex;
    padding: 8px;
    background-image: url(kepek/egesz.jpg);
  }
.tortenet{
    background-color: #222222;
    padding: 5px;
    color: white;
    height: 200px;

}
.menu{
    background-color: black;
    padding: 5px;
    color: white;
    text-align: center;
    padding-left: 10% ;
    padding-right: 10%;
}
.gombok{
    align-items: center;
    background-color: black;
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    height: 48px;
    padding: 0 17px;
    display: inline-block;
}
.specialitasok{
    background-color: #222222;
    padding: 5px;
    color: white;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
#jobbo{
    margin-top: auto;
    text-align: left;
    margin-left: 40%;
    margin-right: 10%;
}
#balo{
    float: left;
    text-align: right;
    margin-left: 15%;
    
}
#pizza{
    height: 300px;
    width: 420px;
    display: inline-block;
    margin: auto;
    padding: 30px;
}
#pecsenye{
    height: 400px;
    width: 250px;
    display: inline-block;
    margin-bottom: 300px; ;
    padding: 20px;
    align-items:center;
}
#vegyeszoldseg{
    height: 250px;
    width: 300px;
    display: inline-block;
    margin: auto;
    padding: 30px;
}
#szalamispizza{
    height: 250px;
    width: 300px;
    display: inline-block;
    padding: 30px;
}
#leves{
    height: 200px;
    width: 250px;
    display: inline-block;
    margin: auto;
    padding: 30px;
}
.balpizza{
    float: left;
    


}
.nyitvatartas{
    height: 500px;
    margin: auto;
    background-color: #222222;
    color: white;


}
h3{
    text-align: center;
    margin-left: 550px;
    color: white;
}

