.header{
    background-image: url(kepek/egesz.jpg);
    height: 100%;
    color: white;
    padding: 200px;
    align-items: center;
    background-position: 60%;
    
}
.cim{
  position: absolute;
  left: 20px;
  top: 15px;
}
body{
    margin: auto;
    outline: auto;
    background-color: #222222;
}
ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-image:none;
    float: right;
    display:flex;
    position: absolute;
  right: 20px;
  top: 15px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

li {
    float: right;
    display:flex;
  }
  

.tortenet{
    background-color: #222222;
    padding: 5px;
    color: white;
    height: 200px;

}
.menu{
    background-color: black;
    padding: 5px;
    color: white;
    text-align: center;
    padding-left: 10% ;
    padding-right: 10%;
}
.gpiz{
    align-items: center;
    background-color: black;
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    height: 48px;
    padding:  17px;
   display:  inline-block;
   margin-right: 100px;
}
.gmen{
    align-items: center;
    background-color: black;
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    height: 48px;
    padding:  17px;
   display:  inline-block;
   margin-right: 100px;
}
.gita{
    align-items: center;
    background-color: black;
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    height: 48px;
    padding:  17px;
   display:  inline-block;
   margin-right: 100px;
}
.specialitasok{
    background-color: #222222;
    padding: 5px;
    color: white;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
#jobbo{
    margin-top: auto;
    text-align: left;
    margin-left: 40%;
    margin-right: 10%;
}
#balo{
    float: left;
    text-align: right;
    margin-left: 15%;
    
}
#pizza{
    height: 300px;
    width: 540px;
    display: inline-block;
    margin: auto;
   
    
}
#pecsenye{
    height: 400px;
    width: 250px;
    display: inline-block;
    margin-bottom: 300px; ;
    align-items:center;
}
#vegyeszoldseg{
    height: 250px;
    width: 300px;
    display: inline-block;
    margin: auto;
    
}
#szalamispizza{
    height: 250px;
    width: 300px;
    display: grid;
    float: right;
    
}
#leves{
    height: 200px;
    width: 250px;
    display: inline-block;
    margin: auto;
    
}
.balpizza{
    float: left;
}
.grid-container {
    display: grid;
    gap: 10px;
    background: color #222222;
    margin:50px    ;
  }
  
  .gallery{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 20px;
    color: white;
    padding-left: 100px;
    padding-right:100px;
    
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
    margin: 0;
}
.gallery__item--2{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 7;
    margin: 0;
}
.gallery__item--3{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;
    margin: 0;
}
.gallery__item--4{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
    margin: 0;
}
.gallery__item--5{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 9;
    margin: 0;
    
  }




h3{
    text-align: center;
    color: white;
}
#szeretet{
    text-align: left;
    color:white;
    margin-left: 250px;
    

}
.nyitvatartas{
    margin-top:10px;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    color:gray;
}
.nyitva{
    text-align: left;
    margin-left: 400px;
    color:gray;
    display:block;
    margin-right: 400px;
    
}
.footer{
    height:auto;
    background-color:black;

}
.asztal{
  text-align:left;
  float: right;
  margin-left: 750px;
}



  
  @media only screen and (max-width: 900px) {
    .div {
        
      display: block;
      position: relative;
    }
    
    #balo{
        text-align: right;
        position: relative;
    }
    #jobbo{
        height: 300px;
        width: auto;
        float: left;  
        position: relative;
        text-align: left;
    }

    
    #tortenet{
        
        display: flex;
        background-color: #222222;
        position: relative;

    }
    #menu{
        
        display: block;
        margin: auto;
        background-color: #222222;
        float: left;
        position: relative;
    }
   
    .gallery{
        
        float: left;
        margin: auto;
        
        position: relative;
    }
    .specialitasok{
        float: left;
        margin:auto;
        position: relative;
    }
    .szeretet{
        
        text-align: left;
        margin-left: 5px;
        position: relative;

    }
    
    .nyitva{
        
        text-align: center;
        margin:auto;
        align-items: center;
        position: relative;
    }
    .nyitvatartas{
        
        float: left;
        margin:auto;
        position: relative;
        

    }
    .h2{
        float: left;
    }
    .hr{
        float: left;
        text-align: center;
        position: relative;
        align-items: center;
        display: block;
    }
    
   
  } 
 
  @media only screen and (max-width: 500px){
    
    .div {
        
      display: block;
      position: relative;
    }
    
    #balo{
        text-align: right;
        
        position: relative;
    }
    #jobbo{
        height: 300px;
        width: auto;
        float: right;  
        position: relative;
        text-align: right;
    }

    
    .tortenet{
        position: relative;
        height: auto;
        text-align: center;
    }
    .menu{
        
        height: auto;
        
        text-align:left;
        position: relative;

    }
    .gombok{
        
        float: left;
        margin: auto;
        display: block ;
        position: relative;
        overflow-x:hidden ;
    }
    .gallery{
        
        float: left;
        margin: auto;
        display: block ;
        position: relative;
        overflow-x:hidden ;
    }
    .szeretet{
        float: left;
        text-align: center;
        overflow-x:hidden ;
    }
    .specialitasok{
        
        float: left;
        display: block;
        text-align: left;
        overflow-x:hidden ;
    }
   
    .asztal{
        
        float: left;
        margin:auto;
        position: relative;
        overflow-x:hidden ;
    }
    .nyitva{
        
        float: left;
        margin:auto;
        align-items: center;
        position: relative;
        overflow-x:hidden ;
    }
    .nyitvatartas{
        
        float: right;
        text-align: center;
        margin:auto;
        position: relative;
        overflow-x:hidden ;

    }
    .h2{
        float: left;
    }
    .hr{
        text-align: center;
        position: relative;
        display: block;
    }
  }