.header{
    background-image: url(kepek/egesz.jpg);
    height: 100%;
    color: white;
    padding: 200px;
    align-items: center;
    background-position: 60%;
    
}
.cim{
  position: absolute;
  left: 20px;
  top: 15px;
}
body{
    margin: auto;
    outline: auto;
    background-color: #222222;
}


  #check:checked ~ .nav-mobile {
    display: block;
   }
   
   
   .checkbtn {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
   }       
     nav {
    padding: 1.5rem 2rem;
    color: #fff;
    position:absolute;
    top:15px;
    right:30px;
   }
   .nav-mobile {
    display: none;
   }
  .nav-mobile {
    position: absolute;
    top: 4.5rem;
    left: 0;
    background: #222831;
    z-index: 1;
    width: 200px;
   }
   .nav-mobile a {
    color: #fff;
    padding: 1rem 1.5rem;
    display: block;
   }
.tortenet{
    background-color: #222222;
    padding: 5px;
    color: white;
    height: 200px;

}
.menu{
    background-color: black;
    padding: 5px;
    color: white;
    text-align: center;
    padding-left: 10% ;
    padding-right: 10%;
}
.gpiz{
    align-items: center;
    background-color: black;
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    height: 48px;
    padding:  17px;
   display:  inline-block;
   margin-right: 100px;
}
.gmen{
    align-items: center;
    background-color: black;
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    height: 48px;
    padding:  17px;
   display:  inline-block;
   margin-right: 100px;
}
.gita{
    align-items: center;
    background-color: black;
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    height: 48px;
    padding:  17px;
   display:  inline-block;
   margin-right: 100px;
}
.specialitasok{
    background-color: #222222;
    padding: 5px;
    color: white;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
#jobbo{
    margin-top: auto;
    text-align: left;
    margin-left: 40%;
    margin-right: 10%;
}
#balo{
    float: left;
    text-align: right;
    margin-left: 10%;
    
}
#pizza{
    height: 300px;
    width: 540px;
    display: inline-block;
    margin: auto;
   
    
}
#pecsenye{
    height: 400px;
    width: 250px;
    display: inline-block;
    margin-bottom: 300px; ;
    align-items:center;
}
#vegyeszoldseg{
    height: 250px;
    width: 300px;
    display: inline-block;
    margin: auto;
    
}
#szalamispizza{
    height: 250px;
    width: 300px;
    display: grid;
    float: right;
    
}
#leves{
    height: 200px;
    width: 250px;
    display: inline-block;
    margin: auto;
    
}
.balpizza{
    float: left;
}
.grid-container {
    display: grid;
    gap: 10px;
    background: color #222222;
    margin:50px    ;
  }
  
  .gallery{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 20px;
    color: white;
    padding-left: 100px;
    padding-right:100px;
    
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
    margin: 0;
}
.gallery__item--2{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 7;
    margin: 0;
}
.gallery__item--3{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;
    margin: 0;
}
.gallery__item--4{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
    margin: 0;
}
.gallery__item--5{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 9;
    margin: 0;
    
  }




h3{
    text-align: center;
    color: white;
}
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: rgb(207, 207, 207);
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Helvetica, sans-serif;
    font-size: large;
    padding-top: 2%;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 3; }
    .div2 { grid-area: 1 / 3 / 9 / 5; }
    .div3 { grid-area: 1 / 5 / 4 / 7; }
.div2{
    width: 90%;
}
.div1{
    text-align: right;
    padding-right: 10%;
}
.bottm_center{
    color: white;
    position: relative;
    text-align: center;
    font-size: 15px;
    bottom: 10%;
    
}
.bottm_center1{
    color: white;
    position: relative;
    text-align: center;
    font-size: 15px;
    bottom: 20%;
    
}
.bottm_center2{
    color: white;
    position: relative;
    text-align: center;
    font-size: 15px;
    bottom: 20%;
    
}
.bottm_center3{
    color: white;
    position: relative;
    text-align: center;
    font-size: 15px;
    bottom: 25%;
    
}
footer{
    background-color: black;
    margin: auto;
    padding: 5px;
    color: grey;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}



  
  @media only screen and (max-width: 1000px) {
    .div {
            
        display: flex;
        position: relative;
      }
      
      #balo{
          float:left;
          text-align: center;
          position: relative;
      }
      #jobbo{
        text-align: center;
          float: right;  
          position: relative;
      }
  
      
      .tortenet{
        text-align: center;
          position: relative;
          background-color: #222222;
          margin-bottom: 150px;
          text-align: left;
          display:block;
          margin:0.4em auto;
      }
      .menu{
        text-align: center;
          position: relative;
          float: left;
          display:block;
          margin:0.4em auto;
          
      
      }
   
    .gallery{
        
        float: left;
        margin: auto;
        
        position: relative;
    }
    .parent{
        float: left;
        position: relative;

    }
    .footer{
        float: left;
        position: relative;
    }
    .h2{
        float: left;
    }
    .hr{
        float: left;
        text-align: center;
        position: relative;
        align-items: center;
        display: block;
    }
    .nav{
        font-size: medium;
    }
}
    
 @media only screen and (max-width: 600px){


    
        .checkbtn {
        display: block;
        font-size: medium;
        position: absolute;
        top: 30px;
        left: 40px;
        float: right;
        }
       .nav-mobile {
        top: 160px;
        width: 100%;
        }
       .nav-mobile a {
        font-size: medium;
        display: block;
        
       }
        .div {
            
          display: flex;
          position: relative;
        }
       
        #balo{
            float: left;
            position: relative;
            display: block;
        }
        #jobbo{
            float: right;  
            position: relative;
            display: block;
        }
    
        
        .tortenet{
            position: relative;
            background-color: #222222;
            margin-bottom: 150px;
            text-align: left;
        }
        .menu{
            position: relative;
            float: left;
            text-align: left;
            align-items: center;
            
        
        }
        .gpiz{
            float: left;
            display:block;
            margin:0.4em auto;
            height: auto;
            
           
            
        }
        .gmen{
            float: left;
            display:block;
            margin:0.4em auto;
            height: auto;
            
            
        }
        .gita{
            float: left;
            display:block;
            margin:0.4em auto;
            height: auto;
        
        }
       
        .gallery{
            
            float: left;
            margin: auto;
            display: block ;
            position: relative;
            overflow-x:hidden ;
        }
        .parent{
            display: block;

        }
        .div3{
            display: block;
            text-align: center;
            float: left;
        }
        .div1{
            display: block;
        }
     
    }
 
 